.App{
  display:grid;
  place-items: center;
}
.mezo-tarolo{
  width: 700px;
  aspect-ratio: 1/1;
  background-color: blue;
  display:grid;
  place-items: center;
  grid-template-columns: repeat(20,1fr);
  background-color: blue;
}
.mezo{
  width:31.5px;
  height:31.5px;
  background-color: grey;
  display:grid;
  place-items: center;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
